
		<div id="preOverlay" style="background:url('/home/images/background.jpg') no-repeat;"></div>
        <div id="overlay" style="height:200px;" ><center> <img src="/home/images/logo01.png" style="margin-top:20px;"></div>  </center>
     <!--The 1st section of the countdown.-->            
        <section id="countdown-section" >
          <div class="countdown container">
              <div id="timer" class="row">
                  <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0">
                      <div id="day-cd" class="numbers-cd"></div>
                      <div class="words-cd">Dias</div>
                  </div>
                  <div class="col-xs-5 col-sm-2 col-md-2 layer">
                      <div id="hour-cd" class="numbers-cd"></div>
                      <div class="words-cd">Horas</div>
                  </div>
                  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
                      <canvas id="progress-circle" height="180" width="180"></canvas>
                      <div id="percent-cd" class="numbers-cd">90</div> 
                      <!--Tpye the number of the percentage inside this(replace the 90).Notice: without"%",just the number.-->
                      <div class="words-cd">Completo</div>
                  </div>
                  <p></p>
                  <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0">
                      <div id="minute-cd" class="numbers-cd"></div>
                      <div class="words-cd">Minutos</div>
                  </div>
                  <div class="col-xs-5 col-sm-2 col-md-2">
                      <div id="second-cd" class="numbers-cd"></div>
                      <div class="words-cd">Segundos</div>
                  </div>
              </div>
          </div>    
          <center><div class="fb-like" data-href="http://www.facebook.com/TrazCupom" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" style="margin-top:140px;"></div></center>

        </section>

      
        <!--The last section of the copyright.-->
        <section id="copyright-section" style=" position:absolute; bottom:0; width:100%; background:#01334e;">
            <div class="container">
              <div class="row">
              2014 &copy; Traz Cupom - Todos os direitos reservados.
              </div>
            </div>
        </section>     