
		<!-- ==============================================
		Header
		=============================================== -->
		<section class="header">
			<div class="container">
				<div class="row">
					<div class="span12">

						<!-- ==============================================
						Logo
						=============================================== -->
						<div class="logo float-left">
							<a href="#top">
								<%= link_to image_tag('/landing/images/logo01.png'), root_path %>
							</a>
						</div>
						<!-- End Logo 
						=============================================== -->

						<!-- ==============================================
						Navigation
						=============================================== -->
						<ul class="nav hidden-phone hidden-tablet">
							<li><a href="#top">Por quê?</a></li>
							<li><a href="#features">Imprensa</a></li>
							<li><a href="#plans">Contrate</a></li>
							<li><a href="#testimonials">Contato</a></li>
						</ul>
						<!-- End Navigation 
						=============================================== -->

						<!-- ==============================================
						Mobile Navigation
						=============================================== 
						<form name="nav" class="float-right">
				         	<select class="mobile-nav hidden-desktop" data-autogenerate="true"></select>
				        </form>
				        End Mobile Navigation 
						=============================================== -->

					</div>
				</div>
			</div>
		</section>
		<!-- End Header 
		=============================================== -->

		<!-- ==============================================
		Teaser
		=============================================== -->
		<section class="teasera">
			<div class="container">
				<div class="row">

					<!-- ==============================================
					Slider
					=============================================== -->
					<div class="span7 offset5">
						<div class="flexslider">
						 	<ul class="slides">
						  	</ul>
						</div>
					</div>
					<!-- End Slider
					=============================================== -->

				</div>
			</div>
		</section>

		<section class="features light-gray-background" id="features">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h2 class="no-margin-bottom">O que a midia diz a respeito dos cupons de desconto gratuitos</h2>
						<hr>
						<embed width="400" height="300" src="jcplayer.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" align="middle" play="true" loop="true" scale="noScale" wmode="window" devicefont="false" bgcolor="#FFFFFF" name="jcplayer" menu="true" allowfullscreen="true" allowscriptaccess="sameDomain" flashvars="videoURL=http://videos.ms.gov.br/video/videomodal.php?id_video=3452&amp;autoPlay=false&amp;startPhotoSource=http://videos.ms.gov.br/video/videomodal.php?id_video=3452&amp;margins=10&amp;marginsFullScreen=200&amp;offsetY=35&amp;offsetYFullScreen=85&amp;&amp;highlightColor=0xFFCC00&amp;autoHide=true&amp;backgroundColor1=0x333333&amp;backgroundColor2=0x222222" salign="TL" type="application/x-shockwave-flash">
					</div>
				</div>
				<div class="row">

				</div>
			</div>
		</section>
		<!-- End Features 
		============================================== -->

		<!-- ==============================================
		Hero Section
		=============================================== -->
		<section class="color-background hero-section">
			<div class="container">
				<div class="row">
					<div class="span9">
						<h2 class="no-margin-bottom">Eliminamos a distância entre sua empresa e novos clientes!</h2>
					</div>
					
				</div>
			</div>
		</section>
		<!-- End Hero Section 
		============================================== -->

		

		<!-- ==============================================
		Plans
		=============================================== -->
		<section class="white-background plans" id="plans">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h2 class="no-margin-bottom">Alcance engajamento com seus clientes usando o Traz Cupom em seu negócio!</h2>
						<h4>Se você é proprietário de um estabelecimento e está interessado em aumentar o seu número de clientes e o faturamento, veio ao lugar certo.</h4>
						<h4>O Traz Cupom é um aplicativo de cupons gratuitos de desconto, que só oferece vantagens para o seu negócio. Para ser um parceiro nosso é muito simples: Você seleciona o seu plano, preenche o formulário de cadastro, realiza o pagamento, aguarda a aprovação da equipe Traz Cupom e tem o acesso liberado para a utilização de nossos serviços.</h4>
					</div>

				</div>
				<div class="row">
					<!-- ==============================================
					Info Column
					=============================================== -->
					<div class="span3 info-column">
						<div class="plan-title hide-plan"></div>
						<div class="plan-row price-row text-left">Preço</div>
						<div class="plan-row text-left">Cadastro</div>
						<div class="plan-row text-left">Imagens</div>
						<div class="plan-row text-left">Produtos</div>
						<div class="plan-row text-left">Cupons</div>
						<div class="plan-row text-left">Feedback</div>
						<div class="plan-row text-left">Suporte 24h/dia</div>
						<div class="plan-row text-left">Design Personalizado</div>
						<div class="plan-row text-left">Comentários</div>
						<div class="plan-row text-left">Pagamento</div>
					</div>
					<!-- End Info Column
					============================================== -->

					<!-- ==============================================
					First Plan
					=============================================== -->
					<div class="span3">
						<div class="plan-title">Básico</div>
						<div class="plan-row price-row">
							<span class="hidden-info">Preço</span>
							<span class="plan-price">R$ 100,00</span>/Mês. 
						</div>
						<div class="plan-row">
							<span class="hidden-info">Cadastro</span>
							<img src="images/icon-v.png" alt="">
						</div>
						<div class="plan-row">
							<span class="hidden-info">Imagens</span>
							150
						</div>
						<div class="plan-row">
							<span class="hidden-info">Produtos</span>
							100
						</div>
						<div class="plan-row">
							<span class="hidden-info">Cupons</span>
							<img src="images/icon-v.png" alt="">
						</div>
						<div class="plan-row">
							<span class="hidden-info">Feedback</span>
							<img src="images/icon-x.png" alt="">
						</div>
						<div class="plan-row">
							<span class="hidden-info">Suporte 24h/dia</span>
							<img src="images/icon-x.png" alt="">
						</div>
						<div class="plan-row">
							<span class="hidden-info">Design Personalizado</span>
							<img src="images/icon-x.png" alt="">
						</div>
						<div class="plan-row">
							<span class="hidden-info">Comentários</span>
							<img src="images/icon-x.png" alt="">
						</div>
						<div class="plan-row">
							<img src="/landing/images/pagamento.jpg" alt="">
							
						</div>
						<div class="plan-row button-row">
							<%= link_to "Contratar agora!", :controller => 'establishments', :action => 'new' %>
						</div>
					</div>
					<!-- End First Plan
					============================================== -->

					<!-- ==============================================
					Second Plan
					=============================================== -->
					<div class="span3">
						<div class="plan-title">Intemediário</div>
						<div class="plan-row price-row">
							<span class="hidden-info">Preço</span>
							<span class="plan-price">R$ 300,00</span> /Mês.
						</div>
						<div class="plan-row">
							<span class="hidden-info">Cadastro</span>
							<img src="images/icon-v.png" alt="">
						</div>
						<div class="plan-row">
							<span class="hidden-info">Imagens</span>
							250
						</div>
						<div class="plan-row">
							<span class="hidden-info">Produtos</span>
							250
						</div>
						<div class="plan-row">
							<span class="hidden-info">Cupons</span>
							<img src="images/icon-v.png" alt="">
						</div>
						<div class="plan-row">
							<span class="hidden-info">Feedback</span>
							<img src="images/icon-x.png" alt="">
						</div>
						<div class="plan-row">
							<span class="hidden-info">Suporte 24h/dia</span>
							<img src="images/icon-x.png" alt="">
						</div>
						<div class="plan-row">
							<span class="hidden-info">Design Personalizado</span>
							<img src="images/icon-x.png" alt="">
						</div>
						<div class="plan-row">
							<span class="hidden-info">Comentários</span>
							<img src="images/icon-v.png" alt="">
						</div>
						<div class="plan-row">
							<img src="/landing/images/pagamento.jpg" alt="">
							
						</div>
						<div class="plan-row button-row">
							<%= link_to "Contratar agora!", :controller => 'establishments', :action => 'new' %>
						</div>
					</div>
					<!-- End Second Plan
					============================================== -->

					<!-- ==============================================
					Third Plan
					=============================================== -->
					<div class="span3">
						<div class="plan-title">Avançado</div>
						<div class="plan-row price-row">
							<span class="hidden-info">Preço</span>
							<span class="plan-price">R$ 600,00</span> /Mês.
						</div>
						<div class="plan-row">
							<span class="hidden-info">Cadastro</span>
							<img src="images/icon-v.png" alt="">
						</div>
						<div class="plan-row">
							<span class="hidden-info">Imagens</span>
							Ilimitado
						</div>
						<div class="plan-row">
							<span class="hidden-info">Produtos</span>
							Ilimitado
						</div>
						<div class="plan-row">
							<span class="hidden-info">Cupons</span>
							<img src="images/icon-v.png" alt="">
						</div>
						<div class="plan-row">
							<span class="hidden-info">Feedback</span>
							<img src="images/icon-v.png" alt="">
						</div>
						<div class="plan-row">
							<span class="hidden-info">Suporte 24h/dia</span>
							<img src="images/icon-v.png" alt="">
						</div>
						<div class="plan-row">
							<span class="hidden-info">Design Personalizado</span>
							<img src="images/icon-v.png" alt="">
						</div>
						<div class="plan-row">
							<span class="hidden-info">Comentários</span>
							<img src="images/icon-v.png" alt="">
						</div>

						<div class="plan-row">
							<img src="/landing/images/pagamento.jpg" alt="">
							
						</div>
						<div class="plan-row button-row">
							<%= link_to "Contratar agora!", :controller => 'establishments', :action => 'new' %>
						</div>
					</div>
					<!-- End Third Plan
					============================================== -->

				</div>	
			</div>
		</section>
		<!-- End Plans
		============================================== -->

		<!-- ==============================================
		Testimonials
		=============================================== -->
		<section class="testimonials gray-background" id="testimonials">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h2 class="no-margin-bottom">Quer entender mais?</h2>
						<h4>Entre em contato conosco, que um de nossos consultores irá até você para sanar todas as suas dúvidas.</h4>
					</div>

				</div>
				<div class="row"></div>
			</div>
		</section>
		<!-- End Testimonials
		============================================== -->

		<!-- ==============================================
		Footer
		=============================================== -->
		<section class="footer dark-gray-background">
			<div class="container">
				<div class="row">
					<div class="span6">
						<p class="no-margin-bottom">iFollow Agência Digital.<br>
						Rua Dom Aquino, 2045 - sala 03<br>
						(67) 3025-3547<br>
						<a href="#">contato@trazcupom.com</a></p>			
					</div>
					<!-- ==============================================
					Social
					=============================================== -->
					<div class="span6">
						<ul class="social float-right">
							<li><a href="#"><i class="icon-google-plus"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
						</ul>
						<p class="no-margin-bottom float-right copyright">Copyright &copy; 2013 <a href="#">Traz Cupom </a>. Todos os direitos reservados</p>
					</div>
					<!-- End Social
					============================================== -->
				</div>
			</div>
		</section>
		<!-- End Footer
		============================================== -->