<h1>Timeline Traz Cupom</h1>
<p>Aqui iremos pegar e analizar toda a experiência dos usuários em nosso app.</p>

<hr />
<h2>Usuários</h2>

<% @users.each do |user| %>

	<p><%= user.name %></p>


	<% end %>