<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category_establishment.name %>
</p>

<%= link_to 'Edit', edit_category_establishment_path(@category_establishment) %> |
<%= link_to 'Back', category_establishments_path %>
