<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @categoryestablishment.name %>
</p>

<%= link_to 'Edit', edit_categoryestablishment_path(@categoryestablishment) %> |
<%= link_to 'Back', categoryestablishments_path %>
