<!DOCTYPE HTML >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="no-js">
	<head>
<!--PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"-->
		<title>Percent - Responsive Coming Soon Template</title>
		<meta http-equiv="content-type" content="text/html;text/x-component;charset=UTF-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
		<link href='http://fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/coming/css/normalize.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/coming/css/animate.css" type="text/css" media="screen" />      
        <link rel="stylesheet" href="/coming/css/bootstrap.min.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/coming/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/coming/style.css" type="text/css" media="screen" />        
    <!--[if lt IE 9]>
        <script type="text/javascript" src="js/html5shiv.js"></script>
        <script type="text/javascript" src="js/excanvas.compiled.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->  
	</head>    
	<body style="background:url('/home/images/background.jpg') no-repeat;">

  <%= yield %>
        <script type="text/javascript" src="/coming/js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="/coming/js/jquery.easing.min.js"></script>
   	    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
		<script src="/coming/js/jquery.backstretch.min.js"></script>
        <script src="/coming/js/bootstrap.min.js"></script>
        <script src="/coming/js/chart.js"></script>
	    <script src="/coming/js/jquery.scrollTo.min.js"></script>
        <script src="/coming/js/jquery.inview.js"></script>
        <script type="/coming/text/javascript" src="js/gmap3.min.js"></script>
        <script src="/coming/js/spin.min.js"></script>
        <script src="/coming/js/jquery.countdown.min.js"></script>   
	    <script src="/coming/js/jquery.ajaxchimp.min.js"></script>
        <script src="/coming/js/modernizr.js"></script> 
        <script src="/coming/js/script.js"></script>
        <script src="/coming/js/custom.js"></script>  
	</body>
</html>
